.spot-detail-container{
    margin: 45px;

}

.img-container {
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    overflow: hidden;
    border-radius: 16px;
}

.img-container .main-preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.img-container .img-small-container {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.img-container .img-small-container > .small-img-container {
    overflow: hidden;

}

.img-container .img-small-container .small-img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.spot-info-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
    border-bottom: 2px black solid;
}

.spot-info-container .spot-info{
    flex-direction: column;
    flex-wrap: wrap;
}

.spot-info-container .spot-info p {
    text-wrap: wrap;
}

.spot-reserve-container{
    border: 2px gray solid;
    border-radius: 16px;
    width: 19%;
    padding: 20px;
}

.spot-reserve-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
}

.spot-reserve-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spot-reserve-review-info {
    display: flex;
    align-items: center;
}

.spot-reserve-review-info * {
    margin: 0 7px;
    display: flex;
}

.spot-price span{
    font-size: 1.4em;
    font-weight: 600;
    margin-right: 4px;
}

.reviews-container {
    display: flex;
    flex-direction: column;
}

.reviews-container > h2 {
    display: flex;
}
