.dropdown-container {
    position: relative;
    z-index: 1;
}

.dropdown-icon {
    cursor: pointer;
}

.dropdown-items.hidden {
    display: none;

}

.dropdown-items {
    display: flex;
    position: absolute;
    right: 20px;
    flex-direction: column;
    background-color: rgb(255, 249, 224);
    padding: 8px;
    border-radius: 16px 0 16px 16px;
    list-style: none;
    width: fit-content;
    margin: 0;
    border: 1px solid black;
    justify-content: center;
}

.dropdown-item {
    min-width: 150px;
    max-width: fit-content;
    margin: auto;
}
